<mat-toolbar *ngIf="menuVisible" id="desktop-menu" [@inOutDesktopAnimation]>
  <img src="/assets/images/logo.png" alt="logo" class="desktop-logo navbar-item">
  <span class="navbar-item">{{ 'component.navbar.home' | translate }}</span>
  <span class="navbar-item">{{ 'component.navbar.wedding' | translate }}</span>
  <span class="navbar-item">{{ 'component.navbar.portrait' | translate }}</span>
  <span class="navbar-item">{{ 'component.navbar.gallery' | translate }}</span>
  <span class="navbar-item">{{ 'component.navbar.contact' | translate }}</span>

  <button class="menu-icon" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-toolbar *ngIf="menuVisible" id="mobile-menu" [@inOutMobileAnimation]>
  <mat-toolbar-row class="logo-container">
    <img src="/assets/images/logo.png" alt="logo" class="mobile-logo">
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span class="navbar-item">{{ 'component.navbar.home' | translate }}</span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span class="navbar-item">{{ 'component.navbar.wedding' | translate }}</span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span class="navbar-item">{{ 'component.navbar.portrait' | translate }}</span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span class="navbar-item">{{ 'component.navbar.gallery' | translate }}</span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span class="navbar-item">{{ 'component.navbar.contact' | translate }}</span>
  </mat-toolbar-row>
</mat-toolbar>

<button class="menu-icon" [class.menu-icon-dark]="menuVisible" mat-icon-button (click)="menuVisible = !menuVisible">
  <mat-icon>menu</mat-icon>
</button>
